/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    background-image: url('bluesea.jpg');
    background-size: cover;  
    padding: 20px;
}

header {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

@font-face {
    font-family: 'BabyDoll';
    src: url('BabyDoll.ttf');
  }

  @font-face {
    font-family: 'AudreyTatum';
    src: url('AudreyTatum.otf');
  }

  h2, h3, p, li, th, td, button, form{
    font-family: 'BabyDoll';
  }

  h1{
    font-family: 'AudreyTatum';
  }

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

main {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

h1 {
    color: #243c70;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #243c70;
    color: #fff;
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
}

video {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
}

form {
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input[type="text"], form input[type="email"], form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

form input[type="submit"] {
    background-color: #ff69b4;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #e6397e;
}

.button {
	background-color: #006699;
	border: none;
	color: #fff;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 20px 0;
	cursor: pointer;
	border-radius: 5px;
	transition: background-color 0.3s ease;
}

.button:hover {
	background-color: #003366;
}

.button-link {
	color: #fff;
	text-decoration: none;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    background-image: url('bluesea.jpg');
    background-size: cover;  
    padding: 20px;
  }
  
  header {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
  }
  
  @font-face {
    font-family: 'BabyDoll';
    src: url('BabyDoll.ttf');
  }
  
  @font-face {
    font-family: 'AudreyTatum';
    src: url('AudreyTatum.otf');
  }
  
  h2, h3, p, li, th, td, button{
    font-family: 'BabyDoll';
  }
  
  h1{
    font-family: 'AudreyTatum';
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
  }
  
  main {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  h1 {
    color: #243c70;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #243c70;
    color: #fff;
  }
  
  img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
  }
  
  video {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
  }
  
  form {
    margin-top: 20px;
  }
  
  form label {
    display: block;
    margin-bottom: 10px;
  }
  
  form input[type="text"], form input[type="email"], form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
  }
  
  form input[type="submit"] {
    background-color: #ff69b4;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  form input[type="submit"]:hover {
    background-color: #e6397e;
  }
  
  .button {
  background-color: #006699;
  border: none;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 0;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  }
  
  .button:hover {
  background-color: #003366;
  }
  
  .button-link {
  color: #fff;
  text-decoration: none;
  }
  
  .gallery {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  
  .gallery img {
    width: 20%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0 10px;
  }
  
  .caption {
    text-align: center;
    margin-top: 30px;
    font-style: italic;
    color: #666;
  }

form {
    background-color: #d6dfe8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    box-sizing: border-box;
}

form textarea {
    resize: vertical;
}

form input[type="submit"] {
    background-color: #003366;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #003366;
}

video {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-bottom: 20px;
  }


@media screen and (max-width: 768px) {
  header {
      padding: 10px;
  }

  nav ul {
      padding: 0;
  }

  nav ul li {
      display: block;
      margin: 0;
      margin-bottom: 10px;
  }

  main {
      padding: 10px;
  }

  .gallery img {
      width: 25%;
      height: auto;
  }

  .gallery video {
      width: 100%;
      height: auto;
  }

  .caption {
      margin-top: 10px;
  }

  .profile-image {
    width: 150px;
    height: 150px;
  }
  
  .introduction {
    flex-direction: column;
    align-items: center;
  }
  
  .introduction ul {
    text-align: center;
    margin-left: 0;
  }
  
  .introduction li {
    margin-bottom: 10px;
  }
  
  table {
    width: 100%;
  }
  
  table th, table td {
    padding: 8px;
  }
  
  table th {
    font-size: 16px;
  }
  
  table td {
    font-size: 14px;
  }  
}